*{
    font-family: "gilroy";
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 1vw;
    border-bottom: 1px solid black;
    height: 10vh;
}

.logo-container{
    height: 100%;
    width: 10%;
}

.logo{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.nav-items{
    width: 60%;
    display: flex;
    align-items: center;
    /* background-color: red; */
}

.nav-items > ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items > ul > li {
    list-style-type: none;
    font-weight: bold;
    font-size: 1.1vw;
}

.login-btn{
    width: 70px;
    padding: 8px 10px;
    font-size: 1vw;
    font-weight: 500;
    background-color: #FF6E01;
    border: none;
    color: white;
    border-radius: 30px;
    cursor: pointer;
}

.body{
    padding: 5vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
}

.search{
    display: flex;
}

.search input{
    padding: 8px 10px;
    font-size: 1vw;
}

.searchBtn{
    padding: 4px 10px;
    font-size: 1vw;
    font-weight: 500;
    background-color: #FF6E01;
    border: none;
    color: white;
    margin-right: 2vw;
}


.top-rated{
    padding: 4px 10px;
    font-size: 1vw;
    font-weight: 500;
    border: 1px solid black;
    color: black;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.card-container{
    padding-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 3vw;
    justify-content: center;
}

.card{
    height: 300px;
    width: 250px;
    /* background-color: brown; */
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.1s ease;
    cursor: pointer;
}

.card:hover{
    scale: 0.95;
}

.card-img-container{
    position: relative;
    height: 58%;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.offer-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, transparent, transparent, rgb(0, 0, 0));
    display: flex;
    align-items: flex-end;
    color: white;
    padding-left: 10px;
}

.offer-overlay > h3 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
}

.card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.res-title{
    margin-top: 2vh;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.stars {
    color: white;
    background-color: green;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 1vw;
}

.res-cuisine, .res-area{
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin-top: 4px;
    font-weight: 400;
    text-overflow: ellipsis;
}

.shimmer-body{
    padding: 5vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
}

.shimmer-container{
    padding-top: 5vh;
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
    justify-content: center;
}

.shimmer-card{
    height: 300px;
    width: 250px;
    background-color: #f0f0f0;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.1s ease;
    cursor: pointer;
}

.about-container{
    width: 50%;
    padding: 3vw 5vw;
}

.about-title{
    font-size: 4vw;
    font-weight: 600;
    color: #FF6E01;
    margin-bottom: 2vw;
}

.about-desc{
    font-size: 1.2vw;
    color: grey;
}

.user-div{
    width: fit-content;
    padding: 10px;
    border: 1px solid #FF5200;
    margin-bottom: 1vw;
}

.user-name{
    color: green;
    font-size: 2.5vw;
}

.user-location{
    font-weight: 500;
    color: grey;
}

.error-container{
    padding: 10vw;
}

.error-text{
    font-size: 4vw;
    color: red;
    font-weight: 500;
}

.menu{
    position: relative;
    width: 50%;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    left: 50%;
    transform: translateX(-50%);
}


.title{
    font-size: 2vw;
}

.details-container{
    background: linear-gradient(to top, #DDDDE5,#fff);
    width: 100%;
    padding: 0 15px 15px 15px;
    border-radius: 30px;
    margin-left: -15px;
}

.res-details{
    margin-top: 20px;
    border: 1px solid rgba(63, 63, 63, 0.422);
    padding: 1vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap:0.5vw;
    background-color: #fff;
}

.cuisines{
    color: #FF5200;
    text-decoration: underline;
    margin-bottom: 1.2vh;
}

.locality{
    color: #8D8F9B;
    font-weight: 500;
}

.menu-items{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.item{
    width: 100%;
    height: 26vh;
    display: flex;
    padding: 4vh 0;
    gap: 2vw;
    border-bottom: 1px solid rgba(75, 75, 75, 0.459);
}

.item-text{
    width: 75%;
}

.item-desc{
    margin-top: 2vh;
}


.item-img{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    border-radius: 10px;
    overflow: hidden;
}

.item-img > img{
    height: 85%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.addbtn{
    position: absolute;
    color: green;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 1vw;
    font-weight: 900;
    background-color: #fff;
    border: 1px solid #03030392;
}